/* Global CSS */

body{
  background-image: url(https://s3-alpha-sig.figma.com/img/376a/56f3/a93ac92f2056f6c2c2468a55eaae0ee4?Expires=1702252800&Signature=kJPz~tjdlb~thNJrsN3qa~ol~TRsDID6hGGMT3dHZ6soEXe4EW3ShQz4mcMoZefYHupcuaVrs-6HKMm8ej9YjZ4NtQmNKfTnxxyRLNUzGgr3aENUAQA~yd5KGODILKLpvm-RphzKnr5bDib~I4253H7~kinBZMMGPK6yoU7JnrUM4-fxssTWSBWsieQjdPpGWs2SOWgQWUT1RfsGFcJyNDEM-wvyZxHgp807h4wr8kpOijIxLZy8tF-XO2tAzNR2jJuPsveFjPu2uR0SJGKXMtma2eaO9ehLmqCuClK-EtQl7guLkFOK~bybfPI6ayajDjV1GsbaEXKiEWKO2nsxTA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .featureTitle{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: #675893;
}
.container{
  margin-right: auto;
  margin-left: auto;
}
#firstSection, #secondSection,#carouselCard{
  margin: auto;
  padding: 0 3rem;
}
#imageFirstSection {
  flex-direction: row-reverse;
}
#secondSection{
  background-color: #e0cdfb;
}
#secondSection > .row{
  padding: 1.5rem 0rem;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.trapezoid-crop {
  width: 63vw; /* Sesuaikan dengan lebar gambar yang ingin di-crop */
  height: 85vh; /* Sesuaikan dengan tinggi gambar yang ingin di-crop */
  max-width: none;
  background-image: url('https://s3-alpha-sig.figma.com/img/be51/f63c/fe092f9645333f272b9a8ec3d2f79021?Expires=1702252800&Signature=STIvJMtX5Qfx7ch1YByEG3k9sxWJ7D8jVQJ1SZks0IIzjE2jEKr5icN2PAJpfLLQ4qygA0A0i7ljy14H8rPLTVZWUnLmp1F4aV2cWQwqpuBmtK~PI1VxqALVhYQaztS~hneJkyGdl6WDxS9FmeGOIN1DsWDZR1Dnz3x1u2eyfuvcJNnKRhlLaPSN19hmVgMh2IlKEUffqqlsaikZvllf7F2F9lvLMdgQRBTBFWUAKbUISEeGNmpuHPPZjK6PuALBVAKqbV9NAErQzE0z4B5iZxVbAo6CLp7hEXDHGm6XnWaX9u~zpg2PHLcnuLBl0aduKk36X3iDbFLQ~NDzblEXWw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'); /* Ganti dengan URL gambar yang ingin di-crop */
  background-size: cover;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
.card {
  margin: 0 0.5em;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  font-size: 0.9em;
  height: 100%;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12; /* Jumlah baris teks yang ingin ditampilkan sebelum ellipsis */
  -webkit-box-orient: vertical;
}

.footer {
  position: relative;
  bottom: 0;
  width: auto;
}
#footerNavLink > .row{
  margin: 0;
  padding: 2rem 1rem;
  background-color: #675893;
  color: white;
}
#footerNavLink{
  padding: 0;
}

/* Media query CSS */
@media screen and (min-width: 930px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 5);
  }
  /* pengganti d-flex dan align-self-star di class */
  .carousel-item .card {
    flex: 1;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .btn-primary {
    margin-top: auto; /*button efek align-self-start*/
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    width: 6vh;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 700px) and (max-width: 929px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
  /* pengganti d-flex dan align-self-star di class */
  .carousel-item .card {
    flex: 1;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .btn-primary {
    margin-top: auto; /*button efek align-self-start*/
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 4vh;
    height: 4vh;
    background-color: rgb(241, 1, 249);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev {
    left: -30px;
  }
  .carousel-control-next {
    right: -30px;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 699px) {
  #carouselCard {
    padding: 0 4rem;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color: rgba(40, 205, 246, 0.51);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev {
    left: -10px;
  }
  .carousel-control-next {
    right: -10px;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }
}
/* @media (max-width: 1023px) {
  .navbar-collapse {
    position: absolute;
    top: 6rem; Atur tinggi navbar jika diperlukan
    right: 1rem;
    z-index: 1000;
    width: 50%;
    height: 300px;
    background-color: #29053c; /* Atur warna latar belakang navbar
    padding: 1rem;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #e2acff;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
} */
